<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{event}">
        <table class="flex-basis-12 responsive-table responsive-table--background">
            <tbody>

                <f:comment><!-- Target Group--></f:comment>
                <f:if condition="{event.targetGroup}">
                    <tr>
                        <th>
                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.target_group" />
                        </th>

                        <td>
                            <f:format.htmlentities>{event.targetGroup}</f:format.htmlentities>
                        </td>
                    </tr>
                </f:if>
                <f:if condition="{event.targetLearning}">
                    <tr>
                        <th>
                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.target_learning" />
                        </th>

                        <td>
                            <f:format.raw>{event.targetLearning}</f:format.raw>
                        </td>
                    </tr>
                </f:if>

                <f:comment><!-- Trainer --></f:comment>
                <f:if condition="{event.trainer}">
                    <tr>
                        <th>
                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.trainer" />
                        </th>

                        <td>
                            <f:format.html>{event.trainer}</f:format.html>
                        </td>
                    </tr>
                </f:if>

                <f:comment><!-- Code --></f:comment>
                <f:if condition="{event.code}">
                    <tr>
                        <th>
                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.code" />
                        </th>

                        <td>
                            <f:format.html>{event.code}</f:format.html>
                        </td>
                    </tr>
                </f:if>

                <f:comment><!-- Partner --></f:comment>
                <f:if condition="{event.partner}">
                    <tr>
                        <th>
                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.partner" />
                        </th>

                        <td>
                            <f:format.html>{event.partner}</f:format.html>
                        </td>
                    </tr>
                </f:if>

                <f:comment><!-- Sheets --></f:comment>
                <f:if condition="<rkw:notFinishedEvents event='{event}' />">
                    <f:else>
                        <f:if condition="{event.presentations}">
                            <f:if condition="{event.presentations} || {event.sheets}">
                                <tr>
                                    <th>
                                        <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.presentations" />
                                    </th>
                                    <td>
                                        <f:for each="{event.presentations}" as="presentation">
                                            <p>
                                                <a class="icon-file" href="{presentation.originalResource.publicUrl}" target="_blank" title="{presentation.originalResource.title}" >
                                                    <f:if condition="{presentation.originalResource.title}">
                                                        <f:then>
                                                            {presentation.originalResource.title}
                                                        </f:then>
                                                        <f:else>
                                                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.download" />
                                                        </f:else>
                                                    </f:if>
                                                </a>
                                            </p>
                                        </f:for>

                                        <f:if condition="<rkw:notFinishedEvents event='{event}' />">
                                            <f:else>
                                                <p>
                                                    <f:if condition="{event.sheets}">
                                                        <f:link.action action="showSheet" arguments="{event:event}" pageUid="{settings.sheetsForEventPid}" section="slide-share" class="button secondary">
                                                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.slideshare" />
                                                        </f:link.action>
                                                    </f:if>
                                                </p>
                                            </f:else>
                                        </f:if>
                                    </td>
                                </tr>
                            </f:if>
                        </f:if>
                    </f:else>
                </f:if>


                <f:comment><!-- Downloads --></f:comment>
                <f:if condition="{event.addInfo}">
                    <tr>
                        <th>
                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.schedule" />
                        </th>
                        <td>
                            <f:for each="<rkw:falTranslationFix parentRecord='{event}' fieldName='add_info' />" as="download">
                                <a href="{download.originalResource.publicUrl}" target="_blank" title="{download.originalResource.title}" >
                                    <f:if condition="{download.originalResource.title}">
                                        <f:then>
                                            {download.originalResource.title}
                                        </f:then>
                                        <f:else>
                                            <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.download" />
                                        </f:else>
                                    </f:if>
                                </a>
                            </f:for>
                        </td>
                    </tr>
                </f:if>


                <f:comment><!-- Direction --></f:comment>
                <f:if condition="<rkw:notFinishedEvents event='{event}' />">
                    <f:if condition="{event.onlineEvent} != 1">
                        <tr>
                            <th>
                                <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.direction" />
                            </th>

                            <td>
                                <f:link.external uri="http://maps.google.com/maps/dir//<f:format.urlencode>{event.place.address}, {event.place.zip} {event.place.city}</f:format.urlencode>" target="_blank" title="<f:translate key='tx_rkwevents_fluid.partials_events_additionalData.directionGoogleMaps' />" rel="nofollow">
                                    <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.directionGoogleMaps" />
                                </f:link.external>
                            </td>
                        </tr>
                    </f:if>
                </f:if>


                <f:comment><!-- extCancelLink --></f:comment>
                <f:if condition="<rkw:notFinishedEvents event='{event}' />">
                    <f:if condition="{event.extCancelLink} || {event.extCancelInfo}">
                        <f:if condition="{f:format.date(date: event.cancelEnd, format: 'Y-m-d')} > {f:format.date(date: 'now', format: 'Y-m-d')}">
                            <tr>
                                <th>
                                    <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.cancellation" />
                                </th>

                                <td>
                                    <f:if condition="{event.extCancelInfo}">
                                        <f:then>
                                            <f:format.html>{event.extCancelInfo}</f:format.html>
                                            <f:if condition="{event.extCancelLink}">
                                                <f:link.typolink parameter="{event.extCancelLink}" target="_blank">
                                                    <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.cancelClick" />
                                                </f:link.typolink>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:link.typolink parameter="{event.extCancelLink}" target="_blank">
                                                <f:translate key="tx_rkwevents_fluid.partials_events_additionalData.cancelClick" />
                                            </f:link.typolink>
                                        </f:else>
                                    </f:if>
                                </td>
                            </tr>
                        </f:if>
                    </f:if>
                </f:if>

            </tbody>
        </table>


        <!-- Partner logos
        <h3><f:translate key="tx_rkwevents_fluid.partials_events_additionalData.partner" /></h3>
        <div class="partner-logos" style="">
            <f:if condition="<f:count>{event.logos}</f:count>" >
                <f:for each="{event.logos}" as="image">
                    <f:image src="{image.uid}" treatIdAsReference="1" title="{image.title}" alt="{image.alternative}" maxWidth="130" maxHeight="100" />
                </f:for>
            </f:if>
        </div>
        -->
    </f:if>
</html>
