<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{settings.noFilters}">
        <f:else>

            <f:form
                noCacheHash="true"
                action="list"
                controller="Event"
                extensionName="RkwEvents"
                pluginName="Pi1"
                class="ajax"
                name="filter"
                additionalParams="{rkw_ajax : '{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \'1\'}'}"
            >
                <div class="btn-list">


                    <f:comment><!-- DEPARTMENT --></f:comment>
                    <f:if condition="{departmentList} && {settings.list.filter.showDepartment}">
                        <f:form.select
                            class="ajax select-field select-field--longer"
                            id="department-select"
                            name="filter[department]"
                            value="{filter.department}"
                            options="{departmentList}"
                            optionValueField="uid"
                            optionLabelField="name"
                            prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelTopics' />"
                            prependOptionValue="0"
                        />
                    </f:if>


                    <f:comment><!-- DOCUMENT TYPE --></f:comment>
                    <f:if condition="{documentTypeList} && {settings.list.filter.showDocumentType}">
                        <f:form.select
                            class="ajax select-field select-field--longer"
                            id="document-type-select"
                            name="filter[documentType]"
                            value="{filter.documentType}"
                            options="{documentTypeList}"
                            optionValueField="uid"
                            optionLabelField="name"
                            prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelDocumentType' />"
                            prependOptionValue="0"
                        />
                    </f:if>


                    <f:render section="category" arguments="{_all}" />


                    <f:comment><!-- TIME --></f:comment>
                    <f:if condition="{timeArrayList} && {settings.list.filter.showTime}">
                        <f:form.select
                            class="ajax select-field select-field--longer"
                            id="time-select"
                            name="filter[time]"
                            value="{filter.time}"
                            options="{timeArrayList}"
                            optionValueField="uid"
                            optionLabelField="title"
                            prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelMonth' />"
                            prependOptionValue="0"
                        />
                    </f:if>

                    <f:comment><!-- ADDRESS -->
                        <f:if condition="{settings.list.filter.showAddress}">
                            <div class="search-field search-field--small">

                                <f:form.textfield
                                    class="single"
                                    name="filter[address]"
                                    value="{filter.address}"
                                    type="text"
                                    placeholder="<f:translate key='tx_rkwevents_fluid.partials_event_filter.placeholderZipSearch' extensionName='rkwEvents' />"
                                />

                                <button type="submit" class="btn btn--secondary search-field__submit"
                                    title="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelSearch' extensionName='rkwEvents' />">
                                    <svg class="icon icon--16">
                                    <use xlink:href="#ic-arrow-primary" /></svg>
                                </button>
                            </div>
                        </f:if>
                    </f:comment>

                </div>

                <f:comment>
                    <!-- @toDo: DEPRECATED (only needed for OLD Ajax API) -->
                    <!-- Override typeNum for AJAX -->
                    <input type="hidden" name="type" value="{ajaxTypeNum}">
                </f:comment>

                <!-- Project filter from Plugin -->
                <f:form.hidden name="filter[project]" value="{filter.project}" />

            </f:form>
        </f:else>
    </f:if>

</html>


<f:section name="category">

    <f:comment><!-- CATEGORY --></f:comment>
    <f:if condition="{categoryList} && {settings.list.filter.showCategory}">

        <f:comment>
            options="{categoryList}"
            optionValueField="uid"
            optionLabelField="title"
        </f:comment>

        <f:form.select
            class="ajax select-field select-field--longer"
            id="category-select"
            name="filter[category]"
            value="{filter.category}"
            prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelCategory' />"
            prependOptionValue="0"
        >


            <f:comment><!-- add entries without parent nodes --></f:comment>
            <f:for each="{categoryList.withoutParent}" as="category">

                <f:if condition="{categoryList.{category.uid}}">
                    <f:then>
                        <f:comment><!-- if category has children, show category itself as optgroup --></f:comment>
                        <f:render section="subCategory" arguments="{categoryList: categoryList, parentCategory: category}" />
                    </f:then>
                    <f:else>
                        <f:comment><!-- if category has no children and stands for itself --></f:comment>
                        <f:form.select.option value="{category.uid}">{category.title}</f:form.select.option>
                    </f:else>
                </f:if>
            </f:for>

        </f:form.select>
    </f:if>
</f:section>

<f:section name="subCategory">

    <f:form.select.optgroup label="{parentCategory.title}">

        <f:form.select.option value="{parentCategory.uid}">
            <f:translate key='tx_rkwevents_fluid.partials_event_filter.allOfCategory' extensionName='rkwEvents' />
        </f:form.select.option>

        <f:for each="{categoryList.{parentCategory.uid}}" as="category">
            <f:form.select.option value="{category.uid}">{category.title}</f:form.select.option>

            <f:if condition="{categoryList.{category.uid}}">
                <f:comment><!-- optgroup nesting is not allowed. So we call not this section here itself again --></f:comment>
                <f:render section="subCategoryWithoutOptGroup" arguments="{categoryList: categoryList, parentCategory: category}" />
            </f:if>

        </f:for>


    </f:form.select.optgroup>

</f:section>

<f:section name="subCategoryWithoutOptGroup">

        <f:for each="{categoryList.{parentCategory.uid}}" as="category">
            <f:form.select.option value="{category.uid},{parentCategory.uid}">{category.title}</f:form.select.option>

            <f:if condition="{categoryList.{category.uid}}">
                <f:render section="subCategoryWithoutOptGroup" arguments="{categoryList: categoryList, parentCategory: category}" />
            </f:if>

        </f:for>


</f:section>