<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{eventReservation.event}">

        <div class="btn-list">

            <!-- show event -->
            <f:link.action
                pageUid="{f:if(condition: '{eventReservation.event.series.organizer.0.showPid}', then: '{eventReservation.event.series.organizer.0.showPid}', else: '{settings.showPid}')}"
                target="_blank"
                class="btn btn--secondary"
                controller="Event"
                action="show"
                arguments="{event : eventReservation.event}"
            >
                <f:translate key="tx_rkwevents_fluid.partials_event_options.eventShow" />
            </f:link.action>

            <!--
            <f:link.action class="button secondary" controller="EventReservation" action="show" arguments="{eventReservation : eventReservation}">
                <span>
                    <f:translate key="tx_rkwevents_fluid.partials_event_options.reservationShow" />
                </span>
            </f:link.action> -->

            <!-- ViewHelper returns true if reg time for event is still running -->
            <f:if condition="<rkw:regTimeEndEvents event='{eventReservation.event}' />">
                <f:link.action class="btn btn--secondary" controller="EventReservation" action="edit" arguments="{eventReservation : eventReservation}">
                    <f:translate key="tx_rkwevents_fluid.partials_event_options.reservationEdit" />
                </f:link.action>
            </f:if>

            <f:if condition="<rkw:notFinishedEvents event='{eventReservation.event}' />">
                <f:link.action class="btn btn--secondary" controller="EventReservation" action="delete" arguments="{eventReservation : eventReservation}">
                    <f:translate key="tx_rkwevents_fluid.partials_event_options.reservationDelete" />
                </f:link.action>
            </f:if>
        </div>
    </f:if>
</html>
