<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{event}">

        <f:if condition="{isReservationPage}">
            <f:else>
                <f:if condition="<rkw:regTimeEndEvents event='{event}' />">
                    <f:then>
                        <f:if condition="{event.regRequired}">
                            <f:then>
                                <f:if condition="{event.extRegLink}">
                                    <f:then>
                                        <f:render section="extRegLink" arguments="{_all}" />
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{settings.disableInternalRegistration}">
                                            <f:then>
                                                <div class="btn {additionalCssClass} btn btn--disabled">
                                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.noInternalRegistration" />
                                                </div>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="<rkw:extensionIsLoaded extensionName='fe_register' />">
                                                    <f:then>
                                                        <f:if condition="<rkw:freePlacesAvailable event='{event}' />">
                                                            <f:then>
                                                                <f:comment><!-- standard register link --></f:comment>
                                                                <f:link.action
                                                                    action="new"
                                                                    controller="EventReservation"
                                                                    arguments="{event : event}"
                                                                    section="tx-rkwevents-reservation"
                                                                    pageUid="{settings.reservationPid}"
                                                                    class="btn {additionalCssClass}"
                                                                    rel="nofollow"
                                                                >
                                                                    <f:security.ifAuthenticated>
                                                                        <f:then>
                                                                            <f:translate key="tx_rkwevents_fluid.partials_event_registration.internalLinkLoggedIn" />
                                                                        </f:then>
                                                                        <f:else>
                                                                            <f:translate key="tx_rkwevents_fluid.partials_event_registration.internalLink" />
                                                                        </f:else>
                                                                    </f:security.ifAuthenticated>
                                                                </f:link.action>

                                                            </f:then>
                                                            <f:else>
                                                                <!--
                                                                <div class="btn {additionalCssClass} btn btn--disabled">
                                                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.noSeats" />
                                                                </div>
                                                                -->

                                                                <f:link.action
                                                                    action="new"
                                                                    controller="EventReservation"
                                                                    arguments="{event : event}"
                                                                    section="tx-rkwevents-reservation"
                                                                    pageUid="{settings.reservationPid}"
                                                                    class="btn {additionalCssClass}"
                                                                    rel="nofollow"
                                                                >
                                                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.noSeatsWaitlist" />
                                                                </f:link.action>

                                                            </f:else>
                                                        </f:if>
                                                    </f:then>
                                                    <f:else>
                                                        <div class="btn {additionalCssClass} btn btn--disabled">
                                                            <f:translate key="tx_rkwevents_fluid.partials_event_registration.noInternalRegistration" />
                                                        </div>
                                                    </f:else>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>

                                <f:comment><!-- optional inhouse link --></f:comment>
                                <f:if condition="{event.series.regInhouse}">
                                    <f:if condition="<rkw:extensionIsLoaded extensionName='rkw_authors' />">
                                        <f:if condition="<rkw:rkwAuthorsContactFormPid />">
                                            <f:if condition="<f:count>{event.internalContact}</f:count>">
                                                <f:link.action
                                                    action="show"
                                                    controller="Authors"
                                                    pluginName="Details"
                                                    extensionName="RkwAuthors"
                                                    arguments="{author : event.internalContact.0}"
                                                    section="tx-rkwauthors-form"
                                                    pageUid="{rkw:rkwAuthorsContactFormPid()}"
                                                    class="btn {additionalCssClass}"
                                                    rel="nofollow"
                                                    target="_blank"
                                                >
                                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.inhouseRegisterLink" />
                                                </f:link.action>
                                            </f:if>
                                        </f:if>
                                    </f:if>
                                </f:if>
                            </f:then>
                            <f:else>
                                <div class="btn {additionalCssClass} btn btn--disabled">
                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.noRegistrationRequired" />
                                </div>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>

                        <f:comment><!-- at this point either the events itself a) ended already OR b) only the possibility of registration OR c) is an announcement --></f:comment>
                        <f:if condition="{f:format.date(date: 'now', format: 'Y-m-d')} > {f:format.date(date:event.end, format:'Y-m-d')}">
                            <f:then>

                                <f:if condition="{event.recordType} == '\RKW\RkwEvents\Domain\Model\EventAnnouncement'">
                                    <f:then>
                                        <f:if condition="{event.extRegLink}">
                                            <f:then>
                                                <f:render section="extRegLink" arguments="{_all}" />
                                            </f:then>
                                            <f:else>
                                                <div class="btn {additionalCssClass} btn btn--disabled">
                                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.eventAnnouncement" />
                                                </div>
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <div class="btn {additionalCssClass} btn btn--disabled">
                                            <f:translate key="tx_rkwevents_fluid.partials_event_registration.eventExpired" />
                                        </div>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <div class="btn {additionalCssClass} btn btn--disabled">
                                    <f:translate key="tx_rkwevents_fluid.partials_event_registration.registrationExpired" />
                                </div>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>

        <f:section name="extRegLink">
            <f:link.external uri="{event.extRegLink}" class="btn {additionalCssClass}" target="_blank" rel="nofollow">
                <f:translate key="tx_rkwevents_fluid.partials_event_registration.externalLink" />
            </f:link.external>
        </f:section>
    </f:if>

</html>
