{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />



<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_informUpcomingEventUser.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

<postmaster:email.translate key="templates_email_informUpcomingEventUser.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
<f:if condition="{reservation.event.onlineEvent}"><f:then><f:if condition="{reservation.event.onlineEventAccessLink}">
<postmaster:email.translate key="templates_email_informUpcomingEventUser.eventAccessLink" languageKey="{language}" extensionName="rkwEvents" />
<postmaster:email.uri.typolink parameter="{reservation.event.onlineEventAccessLink}" />
</f:if></f:then><f:else><postmaster:email.translate key="templates_email_informUpcomingEventUser.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />

<postmaster:email.translate key="templates_email_informUpcomingEventUser.direction" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />:
<f:if condition="{reservation.event.place.drivingDirectionsLink}"><f:then><postmaster:email.uri.typolink parameter="{reservation.event.place.drivingDirectionsLink}"/></f:then><f:else>{googleMapsLink}</f:else></f:if>
</f:else></f:if>
<postmaster:email.translate key="templates_email_informUpcomingEventUser.text3" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />

<f:render partial="Email/Details" section="Plaintext" arguments="{reservation: reservation, frontendUser: frontendUser, language:frontendUser.txFeregisterLanguageKey, showPid: showPid, isRegistered : 1}"/>

=============================================================
<postmaster:email.translate key="templates_email_informUpcomingEventUser.changeDeleteHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
=============================================================
<postmaster:email.translate key="templates_email_informUpcomingEventUser.text4" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
<postmaster:email.uri.page absolute="true" pageUid="{loginPid}" />
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><postmaster:email.translate key="templates_email_informUpcomingEventUser.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<postmaster:email.translate key="templates_email_informUpcomingEventUser.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /><br>
        <f:if condition="{reservation.event.onlineEvent}">
            <f:then>
                <f:if condition="{reservation.event.onlineEventAccessLink}">
                    <br/><strong><postmaster:email.translate key="templates_email_informUpcomingEventUser.eventAccessLink" languageKey="{language}" extensionName="rkwEvents" /></strong>
                    <br/><a href='<postmaster:email.uri.typolink parameter="{reservation.event.onlineEventAccessLink}"/>' target="_blank"><postmaster:email.uri.typolink parameter="{reservation.event.onlineEventAccessLink}" /></a>
                </f:if>
            </f:then>
            <f:else>
                <br/><postmaster:email.translate key="templates_email_informUpcomingEventUser.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
            </f:else>
        </f:if>
	</p>
    <f:if condition="{reservation.event.onlineEvent}">
        <f:else>
            <p>
                <strong><postmaster:email.translate key="templates_email_informUpcomingEventUser.direction" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />:</strong><br/>
 					<f:if condition="{reservation.event.place.drivingDirectionsLink}">
                    <f:then>
                        <a href='<postmaster:email.uri.typolink parameter="{reservation.event.place.drivingDirectionsLink}"/>' target="_blank">
                            <postmaster:email.translate key="templates_email_informUpcomingEventUser.routeDescription" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />
                        </a>
                    </f:then>
                    <f:else>
                        <a href="{googleMapsLink}" target="_blank">
                            <img src="###baseUrl###/{extRelPath}Resources/Public/Images/MapSmall.png" alt="<vh:frontend.translate key='templates_email_informUpcomingEventUser.googleLink' languageKey='{frontendUser.txRkwregistrationLanguageKey}' extensionName='rkwEvents' />" title="<vh:frontend.translate key='templates_email_informUpcomingEventUser.googleLink' languageKey='{frontendUser.txRkwregistrationLanguageKey}' extensionName='rkwEvents' />" />
                        </a>
                    </f:else>
                </f:if>
            </p>
        </f:else>
    </f:if>
	<p>
		<postmaster:email.translate key="templates_email_informUpcomingEventUser.text3" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
	</p>
	<f:render partial="Email/Details" section="Html" arguments="{reservation:reservation, frontendUser: frontendUser, language:frontendUser.txFeregisterLanguageKey, showPid: showPid, isRegistered : 1}"/>
	<h2><postmaster:email.translate key="templates_email_informUpcomingEventUser.changeDeleteHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /></h2>
	<p>
		<a href="<postmaster:email.uri.page absolute='true' pageUid='{loginPid}' />" target="_blank"><postmaster:email.translate key="templates_email_informUpcomingEventUser.text4" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /></a>
	</p>
</f:section>
