{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_revocationReservationUser.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" arguments="{0 : fullName}" />

<postmaster:email.translate key="templates_email_revocationReservationUser.intro" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />

<postmaster:email.translate key="templates_email_revocationReservationUser.name" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />: {revocation.firstName} {revocation.lastName}
<postmaster:email.translate key="templates_email_revocationReservationUser.email" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />: {revocation.email}
<postmaster:email.translate key="templates_email_revocationReservationUser.message" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />: {revocation.message}

<postmaster:email.translate key="templates_email_revocationReservationUser.outro" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
</f:section>

<!-- HTML -->
<f:section name="Html">
    <h1><postmaster:email.translate key="templates_email_revocationReservationUser.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" arguments="{0 : fullName}" /></h1>

    <p><postmaster:email.translate key="templates_email_revocationReservationUser.intro" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /></p>

    <table>
        <tr>
            <td><strong><postmaster:email.translate key="templates_email_revocationReservationUser.name" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />:</strong></td>
            <td>{revocation.firstName} {revocation.lastName}</td>
        </tr>
        <tr>
            <td><strong><postmaster:email.translate key="templates_email_revocationReservationUser.email" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />:</strong></td>
            <td>{revocation.email}</td>
        </tr>
        <tr>
            <td><strong><postmaster:email.translate key="templates_email_revocationReservationUser.message" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />:</strong></td>
            <td>{revocation.message}</td>
        </tr>
    </table>

    <p><postmaster:email.translate key="templates_email_revocationReservationUser.outro" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /></p>

</f:section>
