{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_surveyReservationUser.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

<postmaster:email.translate key="templates_email_surveyReservationUser.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
<postmaster:email.translate key="templates_email_surveyReservationUser.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />

<postmaster:email.translate key="templates_email_surveyReservationUser.goToSurvey" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
<postmaster:email.uri.page absolute="true" pageUid='{surveyPid}' arguments='{survey: reservation.event.surveyBefore}' />
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><postmaster:email.translate key="templates_email_surveyReservationUser.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<postmaster:email.translate key="templates_email_surveyReservationUser.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /><br>
		<postmaster:email.translate key="templates_email_surveyReservationUser.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" />
	</p>
	<p>
		<a href="<postmaster:email.uri.action absolute='true' pageUid='{surveyPid}' action='start' controller='Survey' extensionName='RkwSurvey' pluginName='Survey' arguments='{survey: reservation.event.surveyBefore.uid}' />" target="_blank"><postmaster:email.translate key="templates_email_surveyReservationUser.goToSurvey" languageKey="{queueRecipient.languageCode}" extensionName="rkwEvents" /></a>
	</p>
</f:section>
