<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <div class="table__item">
        <div class="table__title">
            <f:translate key="tx_rkwevents_fluid.partials_event_info_place.name" />
        </div>
        <div class="table__content">
            <f:if condition="{event.onlineEvent} == 1">
                <f:then>
                    <f:translate key='tx_rkwevents_fluid.partials_event_info_place.online' extensionName='rkw_events' />
                </f:then>
                <f:else>
                    <f:if condition="{event.place}">

                        {event.place.name}

                        <!-- do not change this line. We got some not wanted whitespaces, if you would change here something -->
                        <f:if condition="{event.place.address}"><br>{event.place.address}</f:if><f:if condition="{event.place.zip}">, {event.place.zip}</f:if>

                        <f:if condition="{event.place.city}">
                            {event.place.city}
                        </f:if>

                        <f:if condition="{event.place.country.uid} != 54">
                            <f:if condition="{event.place.country.shortNameLocal}">
                                , {event.place.country.shortNameLocal}
                            </f:if>
                        </f:if>

                    </f:if>
                </f:else>
            </f:if>
        </div>
    </div>


</html>