<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">


	<div class="form__field width25 break-after">
		<label class="form-label" for="tx_rkwevents_pi1_salutation">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.salutation" />
            <f:render partial="LabelSuffix" arguments="{field: 'salutation', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
		</label>
		<f:form.select
            class="select-field"
            id="tx_rkwevents_pi1_salutation"
            property="salutation"
            value="{f:if(condition:'(\'{newEventReservation.salutation}\' == 99 || {editMode}',then:'{newEventReservation.salutation}',else:'{frontendUser.txFeregisterGender}')}"
            options="{99: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.99\')}', 0: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.0\')}', 1: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.1\')}', 2: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.2\')}'}"
        />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="tx_rkwevents_pi1_firstName">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.firstName" />
            <f:render partial="LabelSuffix" arguments="{field: 'firstName', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
		</label>
		<f:form.textfield
            id="tx_rkwevents_pi1_firstName"
            property="firstName"
            value="{f:if(condition:'{newEventReservation.firstName} || {editMode}',then:'{newEventReservation.firstName}',else:'{frontendUser.firstName}')}"
            additionalAttributes="{autocomplete:'given-name'}"
        />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="tx_rkwevents_pi1_lastName">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.lastName" />
            <f:render partial="LabelSuffix" arguments="{field: 'lastName', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
		</label>
		<f:form.textfield
            id="tx_rkwevents_pi1_lastName"
            property="lastName"
            value="{f:if(condition:'{newEventReservation.lastName} || {editMode}',then:'{newEventReservation.lastName}',else:'{frontendUser.lastName}')}"
            additionalAttributes="{autocomplete:'family-name'}"
        />
	</div>

	<div class="form__field width50 break-after">
		<label class="form-label" for="tx_rkwevents_pi1_email">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.email" />
            <f:render partial="LabelSuffix" arguments="{field: 'email', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
		</label>

		<f:if condition="{validFrontendUserEmail} || {editMode}">
			<f:then>
				<f:form.textfield
                    class="readonly"
                    id="tx_rkwevents_pi1_email"
                    property="email"
                    type="email"
                    value="{frontendUser.email}"
                    additionalAttributes="{autocomplete: 'email', readonly: 'readonly'}"
                />
			</f:then>
			<f:else>
				<f:form.textfield
                    id="tx_rkwevents_pi1_email"
                    property="email"
                    type="email"
                    value="{newEventReservation.email}"
                    additionalAttributes="{autocomplete: 'email'}"
                />
			</f:else>
		</f:if>
	</div>


    <div class="form__field width50">
        <label class="form-label" for="tx_rkwevents_pi1_lastName">
            <f:translate key="tx_rkwevents_domain_model_eventreservation.companyRole" />
            <f:render partial="LabelSuffix" arguments="{field: 'companyRole', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
        </label>
        <f:form.textfield
            id="tx_rkwevents_pi1_companyRole"
            property="companyRole"
            value="{f:if(condition:'{newEventReservation.companyRole} || {editMode}',then:'{newEventReservation.companyRole}',else:'{frontendUser.companyRole}')}"
        />
    </div>


    <div class="form__field width50">
		<label class="form-label" for="tx_rkwevents_pi1_company">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.company" />
            <f:render partial="LabelSuffix" arguments="{field: 'company', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
		</label>
		<f:form.textfield
            id="tx_rkwevents_pi1_company"
            property="company"
            value="{f:if(condition:'{newEventReservation.company} || {editMode}',then:'{newEventReservation.company}',else:'{frontendUser.company}')}"
            additionalAttributes="{autocomplete:'organization'}"
        />
	</div>


    <div class="form__field width50">
        <label class="form-label" for="tx_rkwevents_pi1_phone">
            <f:translate key="tx_rkwevents_domain_model_eventreservation.phone" />
            <f:render partial="LabelSuffix" arguments="{field: 'phone', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
        </label>
        <f:form.textfield
            id="tx_rkwevents_pi1_phone"
            property="phone"
            value="{f:if(condition:'{newEventReservation.phone} || {editMode}',then:'{newEventReservation.phone}',else:'{frontendUser.phone}')}"
            additionalAttributes="{autocomplete:'tel'}"
        />
    </div>


    <div class="form__field width50">
        <label class="form-label" for="tx_rkwevents_pi1_mobile">
            <f:translate key="tx_rkwevents_domain_model_eventreservation.mobile" />
            <f:render partial="LabelSuffix" arguments="{field: 'mobile', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
        </label>
        <f:form.textfield
            id="tx_rkwevents_pi1_mobile"
            property="mobile"
            value="{f:if(condition:'{newEventReservation.mobile} || {editMode}',then:'{newEventReservation.mobile}',else:'{frontendUser.mobile}')}"
        />
    </div>


	<div class="form__field width50">
		<label class="form-label" for="tx_rkwevents_pi1_address">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.address" />
            <f:render partial="LabelSuffix" arguments="{field: 'address', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
		</label>
		<f:form.textfield
            id="tx_rkwevents_pi1_address"
            property="address"
            value="{f:if(condition:'{newEventReservation.address} || {editMode}',then:'{newEventReservation.address}',else:'{frontendUser.address}')}"
            additionalAttributes="{autocomplete:'street-address'}"
        />
	</div>

    <div class="form__field flex width50">
        <div class="form__field-item  form__field-item--zip">
            <label class="form-label" for="tx_rkwevents_pi1_zip">
                <f:translate key="tx_rkwevents_domain_model_eventreservation.zip" />
                <f:render partial="LabelSuffix" arguments="{field: 'zip', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
            </label>
            <f:form.textfield
                id="tx_rkwevents_pi1_zip"
                property="zip"
                value="{f:if(condition:'{newEventReservation.zip} || {editMode}',then:'{newEventReservation.zip}',else:'{frontendUser.zip}')}"
                additionalAttributes="{aria-label: '{f:translate(key:\'LLL:EXT:rkw_events/Resources/Private/Language/locallang.xlf:tx_rkwevents_domain_model_eventreservation.zip.accessible\')}', autocomplete:'postal-code'}"
            />
        </div>

        <div class="form__field-item  form__field-item--city">
            <label class="form-label" for="tx_rkwevents_pi1_city">
                <f:translate key="tx_rkwevents_domain_model_eventreservation.city" />
                <f:render partial="LabelSuffix" arguments="{field: 'city', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
            </label>
            <f:form.textfield
                id="tx_rkwevents_pi1_city"
                property="city"
                value="{f:if(condition:'{newEventReservation.city} || {editMode}',then:'{newEventReservation.city}',else:'{frontendUser.city}')}"
                additionalAttributes="{autocomplete:'address-level2'}"
            />
        </div>
    </div>

    <!-- targetGroup -->
    <f:if condition="{settings.targetGroupsPid}">
        <div class="form__field width50">
            <label for="tx_rkwevents_pi1_targetGroup">
                <f:translate key="tx_rkwevents_domain_model_eventreservation.targetGroup" />
                <f:render partial="LabelSuffix" arguments="{field: 'targetGroup', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
            </label>
            <f:form.select
                class="select-field"
                id="tx_rkwevents_pi1_targetGroup"
                name="targetGroup"
                value="{targetGroup}"
                options="{targetGroupList}"
                optionValueField="uid"
                optionLabelField="title"
            />
        </div>
    </f:if>

    <f:comment>
        <!--
        <div class="v320-1">
            <label class="form-label" for="tx_rkwevents_pi1_phone">
                <f:translate key="tx_rkwevents_domain_model_eventreservation.telephone" />
                <f:render partial="LabelSuffix" arguments="{field: 'phone', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
            </label>
            <f:form.textfield property="phone" id="tx_rkwevents_pi1_phone" value="{f:if(condition:'{newEventReservation.phone} || {editMode}',then:'{newEventReservation.phone}',else:'{frontendUser.telephone}')}" additionalAttributes="{autocomplete:'tel'}" placeholder="<f:translate key='tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.placeholder.phone' />" />
        </div>
        -->
    </f:comment>


    <!-- workshops -->
    <f:if condition="{event.workshop}">
        <div class="v320-1">
            <h4>
                <f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.workshop" />
                <f:if condition="!{event.workshopSelectReq}">
                    <f:then>
                        <span class="is-optional"><f:translate key="tx_rkwevents_fluid.label_optional" /></span>
                    </f:then>
                    <f:else>
                        <span class="is-required"><f:translate key="tx_rkwevents_fluid.label_required" /></span>
                    </f:else>
                </f:if>
            </h4>
            <f:for each="{event.workshop}" as="workshop" iteration="iter">
                <f:render partial="EventReservation/Workshop" arguments="{_all}"/>
                <f:if condition="!{iter.islast}">
                    <br>
                </f:if>
            </f:for>
        </div>
    </f:if>


    <f:comment><!-- custom field --></f:comment>
    <f:if condition="{event.customFieldShow}">
        <div class="form__field flex {f:if(condition: '{event.customFieldFullWidth}', then: 'width100', else: 'width50')}">
            <label class="form-label" for="tx_rkwevents_pi1_customField">
                {event.customFieldLabel}
                <f:if condition="{event.customFieldMandatory}">
                    <f:then>
                        <span class="is-required"><f:translate key="tx_rkwevents_fluid.label_required" /></span>
                    </f:then>
                    <f:else>
                        <span class="is-optional"><f:translate key="tx_rkwevents_fluid.label_optional" /></span>
                    </f:else>
                </f:if>
            </label>
            <f:if condition="{event.customFieldType}">
                <f:then>
                    <f:comment><!-- textarea --></f:comment>
                    <f:form.textarea
                        id="tx_rkwevents_pi1_customField"
                        property="customField"
                        placeholder="{event.customFieldPlaceholder}"
                        rows="3"
                    />
                </f:then>
                <f:else>
                    <f:comment><!-- input field --></f:comment>
                    <f:form.textfield
                        id="tx_rkwevents_pi1_customField"
                        property="customField"
                        placeholder="{event.customFieldPlaceholder}"
                    />
                </f:else>
            </f:if>

        </div>
    </f:if>


    <f:comment><!-- remark and questions --></f:comment>
    <div class="form__field width100">
        <label class="form-label" for="tx_rkwevents_pi1_remark">
            <f:translate key="tx_rkwevents_domain_model_eventreservation.remark" />
            <f:render partial="LabelSuffix" arguments="{field: 'remark', mandatoryFields: settings.mandatoryFields.eventReservationMainPerson}" />
        </label>
        <f:form.textarea
            id="tx_rkwevents_pi1_remark"
            property="remark"
            rows="3"
            placeholder="<f:translate key='tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.placeholder.remark' />"
        />
    </div>

    <f:if condition="{settings.showParticipateDinnerCheckbox}">
        <div class="form__field width100">
            <div class="form__field">
                <f:form.checkbox class="checkbox" id="participate_dinner" property="participateDinner" value="1" />
                <label for="participate_dinner" class="checkbox-label">
                    <f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.participateDinner" />
                </label>
            </div>
        </div>
    </f:if>

    <f:if condition="{settings.showParticipateMeetingCheckbox}">
        <div class="form__field width100">
            <div class="form__field">
                <f:form.checkbox class="checkbox" id="participate_meeting" property="participateMeeting" value="1" />
                <label for="participate_meeting" class="checkbox-label">
                    <f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.participateMeeting" />
                </label>
            </div>
        </div>
    </f:if>


    <f:if condition="{editMode}">
        <f:else>
            <feRegister:consent type="terms" key="events" />
            <f:if condition="{event.customPrivacyConsentShow}">
                <f:then>
                    <feRegister:consent
                        type="privacy"
                        key="{f:if(condition: '{event.regSingle}', then: 'eventsSingle', else: 'events')}"
                        subType="custom"
                        consentText="{event.customPrivacyConsent}"
                    />
                </f:then>
                <f:else>
                    <feRegister:consent
                        type="privacy"
                        key="{f:if(condition: '{event.regSingle}', then: 'eventsSingle', else: 'events')}"
                        subType="{f:if(condition: '{event.extendedNetwork}', then: 'extended_network')}"
                    />
                </f:else>
            </f:if>
            <feRegister:consent type="marketing" />
        </f:else>
    </f:if>

    <f:render partial="CaptchaElement" />

    <!-- Button Set -->
    <f:render partial="EventReservation/ButtonSet" arguments="{_all}"/>

</html>


