<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <div class="form__field">

        <f:if condition="{event.workshopSelectType} == 1">
            <f:then>
                <f:comment><!-- RADIO --></f:comment>
                <f:form.radio id="workshop-radio{iter.index}" class="radio" value="{workshop.uid}" property="workshopRegister.0" />
                <label class="radio-label" for="workshop-radio{iter.index}">
                    <f:render section="labelContent" arguments="{_all}" />
                </label>
            </f:then>
            <f:else>
                <f:comment><!-- CHECKBOX --></f:comment>
                <f:form.checkbox id="workshop-check{workshop.uid}" class="checkbox" value="{workshop.uid}" property="workshopRegister.{iter.index}" />
                <label class="checkbox-label" for="workshop-check{workshop.uid}">
                    <f:render section="labelContent" arguments="{_all}" />
                </label>
            </f:else>
        </f:if>

    </div>

</html>


<f:section name="labelContent">
    <span class="text-smaller">
        {workshop.title}
        <f:if condition="{workshop.speaker}">({workshop.speaker})</f:if>
        <br>
        <strong><rkw:ComposeWorkshopDateTimeParts startDate='{workshop.start}' endDate='{workshop.end}' /></strong>
        <br>
        {workshop.description}
    </span>
</f:section>