<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />


    <f:section name="main">
        <h2 class="no-hide"><f:translate key="tx_rkwevents_fluid.templates_event_eventReservation_delete.headline" /></h2>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <p><f:format.raw><f:translate key="tx_rkwevents_fluid.templates_event_eventReservation_delete.description" arguments="{0 : event.title}" /></f:format.raw></p>

        <p><f:format.raw><f:translate key="tx_rkwevents_fluid.templates_event_eventReservation_delete.note" /></f:format.raw></p>

        <f:if condition="{eventReservation.event.costsReg} > 0">
            <p><f:format.raw><f:translate key="tx_rkwevents_fluid.templates_event_eventReservation_delete.billing" /></f:format.raw></p>
        </f:if>

        <div class="btn-list btn-list--footer">
            <f:link.action action="remove" arguments="{eventReservation : eventReservation}" class="btn btn--secondary prevent-double-click">
                <f:translate key="tx_rkwevents_fluid.templates_event_eventReservation_delete.labelYes" />
            </f:link.action>

            <f:link.action pageUid="{settings.myEventsPid}" action="myEvents" controller="Event" class="btn btn--primary">
                <f:translate key="tx_rkwevents_fluid.templates_event_eventReservation_delete.labelNo" />
            </f:link.action>
        </div>
    </f:section>

</html>