<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <h2 class="no-hide">
            <f:translate key="tx_rkwevents_fluid.templates_eventReservation_edit.headline"/>
        </h2>
        <p>
            <f:format.raw><f:translate key="tx_rkwevents_fluid.templates_eventReservation_edit.introduction" arguments="{0: event.title}"/></f:format.raw>
        </p>

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{object:Event}" />

        <!-- edit form -->
        <f:form enctype="multipart/form-data" action="update" object="{eventReservation}" name="eventReservation" id="eventReservation">

            <div class="flex-container">
                <div class="form flex flex-basis-8 full-width-medium space-between">


                <f:render partial="EventReservation/FormFieldsMaster" arguments="{_all}" />
                </div>
            </div>

            <f:if condition="{event.regSingle}">
                <f:else>
                    <f:render partial="EventReservation/FormFieldsSub" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:form>

    </f:section>

</html>