<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <h2><f:translate key="tx_rkwevents_fluid.templates_eventReservation_show.headline" /></h2>
        <p><f:format.raw><f:translate key="tx_rkwevents_fluid.templates_eventReservation_show.introduction" arguments="{0: event.series.title}"/></f:format.raw></p>

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:render partial="EventReservation/Properties" arguments="{eventReservation:eventReservation}" />

        <f:link.action action="myEvents" controller="Event" arguments="{event:event}" class="btn btn--secondary">
            <f:translate key="tx_rkwevents_fluid.templates_eventReservation_show.backButton" />
        </f:link.action>
    </f:section>

</html>