<f:be.container includeCssFiles="{1 :\"{f:uri.resource(path:'Css/Backend.css')}\"}">
	<div class="typo3-fullDoc">
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="tx-rkwevents-backend">
                <f:flashMessages as="flashMessages">
                    <ul class="myFlashMessages">
                        <f:for each="{flashMessages}" as="flashMessage">
                            <li>{flashMessage.message}</li>
                        </f:for>
                    </ul>
                </f:flashMessages>
                <f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
