<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwEvents="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:comment><!-- This is used in RKW\RkwEvents\MetaTag\MetaTagGenerator --></f:comment>
    <rkwEvents:ComposeDateTimeParts event='{event}' /> – {event.series.title} ({event.series.documentType.name})<f:if condition="{event.onlineEvent}"><f:else><f:if condition="{event.placeUnknown}"><f:else>, {event.place.name}, {event.place.address}, {event.place.zip} {event.place.city}</f:else></f:if></f:else></f:if>

</html>