{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
{namespace rkwEvents=RKW\RkwEvents\ViewHelpers}
{namespace coreExtended=Madj2k\CoreExtended\ViewHelpers}


<!-- PLAINTEXT -->
<f:section name="Plaintext">
=============================================================
<postmaster:email.translate key="partials_email_details.eventDetails" languageKey="{language}" extensionName="rkwEvents" />
=============================================================

{eventTitle}
<postmaster:email.translate key="partials_email_details.eventDate" languageKey="{language}" extensionName="rkwEvents" />: <rkwEvents:composeDateTimeParts event='{event}' languageKey="{language}" />
<f:if condition="{event.onlineEvent}"><f:else><postmaster:email.translate key="partials_email_details.eventPlace" languageKey="{language}" extensionName="rkwEvents" />: <f:if condition="{event.placeUnknown}"><f:then><postmaster:email.translate key="partials_email_details.placeUnknown" languageKey="{language}" extensionName="rkwEvents" /></f:then><f:else>{event.place.name}, {event.place.address}, {event.place.zip} {event.place.city}</f:else></f:if></f:else></f:if>

</f:section>


<!-- HTML -->
<f:section name="Html">
    <h2><postmaster:email.translate key="partials_email_details.eventDetails" languageKey="{language}" extensionName="rkwEvents" /></h2>
    <p>
        <strong>{eventTitle}</strong>
        <br/><strong><postmaster:email.translate key="partials_email_details.eventDate" languageKey="{language}" extensionName="rkwEvents" /></strong>: <rkwEvents:composeDateTimeParts event='{event}' languageKey="{language}" />
        <f:if condition="{event.onlineEvent}"><f:else><br/><strong><postmaster:email.translate key="partials_email_details.eventPlace" languageKey="{language}" extensionName="rkwEvents" /></strong>: <f:if condition="{event.placeUnknown}"><f:then><postmaster:email.translate key="partials_email_details.placeUnknown" languageKey="{language}" extensionName="rkwEvents" /></f:then><f:else>{event.place.name}, {event.place.address}, {event.place.zip} {event.place.city}</f:else></f:if></f:else></f:if>
    </p>
</f:section>
