<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:section name="flex-3">
        <div class="flex-item flex-basis-3">
            <f:render partial="Event/List/BoxInner" arguments="{_all}" />
        </div>
    </f:section>

    <f:section name="flex-4">
        <div class="flex-item flex-basis-4">
            <f:render partial="Event/List/BoxInner" arguments="{_all}" />
        </div>
    </f:section>

</html>
