<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="tile tile--no-img">
        <f:link.action
            action="show"
            controller="Event"
            pluginName="Pi1"
            extensionName="RkwEvents"
            pageUid="{f:if(condition: '{event.organizer.0.showPid}', then: '{event.organizer.0.showPid}', else: '{showPid}')}"
            arguments="{event : event}"
            title="{event.title}"
            target="{f:if(condition: '{settings.list.detailLinkTargetBlank} == 1', then: '_blank')}"
        >
            <div class="tile__header">
                <div class="tile__label-wrapper">
                    <span class="tile__label">
                        {event.documentType.name}
                    </span>
                </div>
            </div>
            <div class="tile__content">
                <h3 class="tile__title icon">
                    <span class="tile__title-icon">
                        <svg class="icon icon--36"><use xlink:href="#ic-events"></use></svg>
                    </span>
                    <span class="tile__title-text">
                        {event.title}
                    </span>
                </h3>
                <div class="tile__text tile__text--no-img">
                    <p>
                        <f:if condition="{settings.list.filter.showDepartment}">
                            <f:then>
                                {event.department.name}
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.list.filter.showCategory} && <f:count>{event.categories}</f:count>">
                                    <f:if condition="{event.categoriesDisplayed}">
                                        <f:then>
                                            <f:for each="{event.categoriesDisplayed}" as="category" iteration="iter">
                                                <f:if condition="{iter.isFirst}">
                                                    {category.title}
                                                </f:if>
                                            </f:for>
                                        </f:then>
                                        <f:else>
                                            <f:for each="{event.categories}" as="category" iteration="iter">
                                                <f:if condition="{iter.isFirst}">
                                                    {category.title}
                                                </f:if>
                                            </f:for>
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </f:else>
                        </f:if>

                    </p>
                </div>
            </div>
            <div class="tile__footer tile__contact">
                <div class="tile__contact-text">
                    <f:if condition="{event.recordType} == '\RKW\RkwEvents\Domain\Model\EventAnnouncement'">
                        <f:then>
                            <svg class="icon icon--16"><use xlink:href="#ic-date-alarm"></use></svg>
                            <f:translate key='tx_rkwevents_fluid.partials_event_list_boxInner.announcement' extensionName='rkw_events' />
                        </f:then>
                        <f:else>
                            <f:if condition="<rkw:pastEvents event='{event}' /> == 1">
                                <f:then>
                                    <f:if condition="{settings.list.filter.showTime}">
                                        <f:then>
                                            {event.start -> f:format.date(format:"d.m.Y H:i")}
                                        </f:then>
                                        <f:else>
                                            {event.start -> f:format.date(format:"d.m.Y")}
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{f:format.date(date: event.start, format: 'd')} == {f:format.date(date: event.end, format: 'd')}">
                                        <f:else>
                                            <f:translate key='tx_rkwevents_fluid.partials_event_list_boxInner.from' extensionName='rkw_events' />
                                        </f:else>
                                    </f:if>
                                    {event.start -> f:format.date(format:"d.m.Y")}
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>

                    <f:comment>
                        <f:if condition="{event.end}">
                            <f:if condition="{event.start -> f:format.date(format:'d.m.Y')} == {event.end -> f:format.date(format:'d.m.Y')}">
                                <f:else>
                                    <f:if condition="<rkw:pastEvents event='{event}' /> == 1">
                                        <f:then>
                                            &nbsp;- {event.end -> f:format.date(format:"d.m.Y")}
                                        </f:then>
                                        <f:else>
                                            &nbsp;- {event.end -> f:format.date(format:"d.m.Y")}
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:if>
                    </f:comment>
                </div>
                <div class="tile__contact-location">
                    <f:if condition="{event.recordType} == '\RKW\RkwEvents\Domain\Model\EventAnnouncement'">
                        <f:else>
                            <svg class="icon icon--16"><use xlink:href="#ic-location"></use></svg>
                        </f:else>
                    </f:if>
                    <f:if condition="{event.place}">
                        <f:then>
                            {event.place.city}
                        </f:then>
                        <f:else>
                            <f:if condition="{event.recordType} == '\RKW\RkwEvents\Domain\Model\EventAnnouncement'">
                                <f:else>
                                    <f:translate key='tx_rkwevents_fluid.partials_event_list_boxInner.online' extensionName='rkw_events' />
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </f:link.action>
    </div>

</html>
