<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    xmlns:rkwAjax="http://typo3.org/ns/RKW/RkwAjax/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{showMoreLink}">
        <rkwAjax:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="3">
            <div class="flex-container flex-basis-12">
                <f:link.action
                    action="filter"
                    controller="Ajax"
                    pluginName="pi1"
                    extensionName="RkwEvents"
                    class="btn btn--primary btn--centered mt-1 ajax autoload"
                    additionalParams="{tx_rkwevents_pi1: '{filter: filter, page: pageMore, archive: archive}', type: '{ajaxTypeNum}'}"
                    additionalAttributes="{data-page-type: '{ajaxTypeNum}'}"
                >
                    <f:comment>
                    <f:translate key="tx_rkwevents_fluid.partials_event_list_more.interesting" extensionName="RkwEvents" />
                    <br>
                    </f:comment>
                    <strong><f:translate key="tx_rkwevents_fluid.partials_event_list_more.showMore" extensionName="RkwEvents" /></strong>
                </f:link.action>
            </div>
        </rkwAjax:ajaxWrapper>
    </f:if>

</html>