<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="BackendModule" />
    
	<f:section name="content">

		<h1><f:translate key="tx_rkwevents_fluid.templates_backend_show.headline" /></h1>
		<f:render partial="Backend/FlashMessages" arguments="{_all}" />

		<f:form action="create" name="data" enctype="multipart/form-data">

			<label>
				<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_csv" /></span>
                <span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_csv.hint1" /></span>
                <span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_csv.hint2" /></span>
				<f:form.upload property="file"  />
			</label>

			<label>
				<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_typeId" /></span>
				<f:form.select property="documentType" options="{documentTypes}" optionValueField="uid" optionLabelField="name" prependOptionValue="" prependOptionLabel="---" />
			</label>

			<label>
				<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_topicId" /></span>
				<f:form.select property="department" options="{departments}" optionValueField="uid" optionLabelField="name" prependOptionValue="" prependOptionLabel="---" />
			</label>

			<label>
				<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_organizerId" /></span>
				<f:form.select property="organizer" options="{organizers}" optionValueField="uid" optionLabelField="company" prependOptionValue="" prependOptionLabel="---" />
			</label>

            <f:comment>
                <label>
                    <span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_timeZone" /></span>
                    <f:form.textfield property="timeZone" value="GMT+1" />
                </label>
            </f:comment>

	        <label>
	            <span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_targetPid" /></span>
	            <f:form.textfield property="targetPid" value="" />
	        </label>

			<label>
				<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_targetPidAuthors" /></span>
				<f:form.textfield property="targetPidAuthors" value="" />
			</label>

            <f:comment>
                <label>
                    <span>
                        <f:form.checkbox property="excelCsv"  value="1" />
                        <f:translate key="tx_rkwevents_fluid.templates_backend_show.label_msexcel" />
                    </span>
                </label>
            </f:comment>

			<label>
				<span>
					<f:form.checkbox property="activate"  value="1" />
					<f:translate key="tx_rkwevents_fluid.templates_backend_show.label_activate" />
				</span>
			</label>

            <f:comment>
                <label>
                    <span>
                        <f:form.checkbox property="doImport"  value="1" />
                        <f:translate key="tx_rkwevents_fluid.templates_backend_show.label_doImport" />
                    </span>
                </label>
            </f:comment>

			<f:form.button type="submit">
				<f:translate key="tx_rkwevents_fluid.templates_backend_show.label_submit" />
			</f:form.button>
		</f:form>
        -----------------------------------------
        <br/>
        <strong>HILFE</strong>
        <br/>
        <br/>
        <f:translate key="tx_rkwevents_fluid.templates_backend_show.import_help1" /> <a href="{f:uri.resource(path: 'Files/rkw_events_example.csv')}"><strong><f:translate key="tx_rkwevents_fluid.templates_backend_show.import_help2" /></strong></a> <f:translate key="tx_rkwevents_fluid.templates_backend_show.import_help3" />
	</f:section>

</html>