<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    xmlns:rkwAjax="http://typo3.org/ns/RKW/RkwAjax/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />

        <f:if condition="{noEventFound}">
            <f:comment><!-- If redirected from showAction after no event was found --></f:comment>
            <div class="system-message system-message--scroll" role="alert">
                <div class="system-message__item system-message__item--severity1">
                    <f:translate key="eventController.message.error.notAvailable2" extensionName="RkwEvents" />
                </div>
            </div>
        </f:if>


        <f:if condition="{showDividedList}">
            <f:then>
                <f:render partial="Event/ListSubdivided" arguments="{_all}" />
            </f:then>
            <f:else>

                <f:comment><!-- show back button (if ListSubdivided is used) --></f:comment>
                <f:if condition="{settings.list.multipartView.enabled}">
                    <p>
                        <f:link.action action="list" class="btn btn--icon">
                            <svg class="icon icon--16">
                                <use xlink:href="#ic-circle-arrow" />
                            </svg>
                            <span>
                                <f:translate key="tx_rkwevents_fluid.templates_event_list.backToList" extensionName="rkwEvents" />
                            </span>
                        </f:link.action>
                    </p>
                </f:if>

                <f:render partial="Event/Filter" arguments="{_all}" />

                <rkwAjax:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="1">

                    <div class="tiles-wrapper">
                        <f:if condition="<f:count>{sortedEventList}</f:count>">
                            <f:then>
                                <f:render partial="Event/List" arguments="{_all}" />
                            </f:then>
                            <f:else>
                                <div class="flex-container flex-basis-12 center-main">
                                    <div class="no-results">
                                        <p class="no-results__headline">
                                            <f:translate key="tx_rkwevents_fluid.templates_event_list.noEvent" extensionName="rkwEvents" />
                                        </p>
                                    </div>
                                </div>
                            </f:else>
                        </f:if>
                    </div>

                </rkwAjax:ajaxWrapper>
            </f:else>
        </f:if>

    </f:section>

</html>
