<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <h5 class="asideinner__title">
        <f:translate key="tx_rkwevents_fluid.template_event_seriesproposal.header" />
    </h5>


    <f:if condition="<f:count>{sortedEventList}</f:count> || {eventMain.recommendedLinks}">
        <f:then>
            <ul class="iconlist">
                <f:comment><!-- standard recommendations --></f:comment>
                <f:for each="{sortedEventList}" as="event" iteration="iterator">
                    <f:render partial="Event/List/Reduced" arguments="{_all}" />
                </f:for>

                <f:comment><!-- additional links --></f:comment>
                <f:if condition="{eventMain.recommendedLinks}">
                    <f:for each="<rkw:explode delimiter=',' string='{eventMain.recommendedLinks}' />" as="pageUid" iteration="iterator">
                        <li class="iconlist__item public">
                            <f:link.page pageUid="{pageUid}"><rkw:pageProperty pageUid='{pageUid}' field='title' /></f:link.page>
                        </li>
                    </f:for>
                </f:if>
            </ul>
        </f:then>
        <f:else>
            <f:translate key="tx_rkwevents_fluid.template_event_seriesproposal.noResults" />
        </f:else>
    </f:if>


    <f:comment>

        <!-- old stuff. Commented out in november 2021 -->

        <!-- show only if one or more events are given -->
        <f:if condition="<f:count>{eventList}</f:count>">
            <div class="similar-events">

                <!-- alternative header if shown main event lies in the past -->
                <f:if condition="{givenEvent.start} < <f:format.date date='now'/>">
                    <f:then>
                        <h5>
                            <f:translate key="tx_rkwevents_fluid.template_event_seriesproposal.header_archive" />
                        </h5>
                    </f:then>
                    <f:else>
                        <h5>
                            <f:translate key="tx_rkwevents_fluid.template_event_seriesproposal.header_running" />
                        </h5>
                    </f:else>
                </f:if>

                <!-- event list without shown main event (filtered by given series of shown event) -->
                <f:for each="{eventList}" as="event">
                    <f:link.action action="show" controller="Event" pluginName="Pi1" extensionName="RkwEvents" pageUid="{showPid}" arguments="{event : event}" class="box {event.department.cssClass} event big" title="{event.title}" target="_blank">
                        <header>
                            <p> {event.title} </p>
                        </header>

                        <p class="icon-calendar">{event.documentType.name}</p>
                    </f:link.action>
                </f:for>

            </div>
        </f:if>
    </f:comment>
</html>